#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CALCULATOR_SERVER
	bool "Calculator server example"
	default n
	---help---
		Enable the Calculator server example

config USER_ENTRYPOINT
	string
	default "calculator_server_main" if ENTRY_CALCULATOR_SERVER
